<%# <td class="center hidden-phone">5</td> - classe para centralizar e esconder qdo responsivo %>

<table  class="display table table-bordered table-striped" id="data_table">
    <thead>
    <tr>
        <th>Nome</th>
        <th class="hidden-phone">E-mail</th>
        <th class="hidden-phone">Status</th>
        <% if can? :update, User %>
            <th>Editar</th>
        <% end %>
        <% if can? :destroy, User %>
            <th>Excluir</th>
        <% end %>
    </tr>
    </thead>
    <tbody>

    <% @users.each do |user| %>
        <tr>
            <td><%= user.nome %></td>
            <td class="hidden-phone"><%= user.email %></td>
            <td class="hidden-phone">
              <% if user.ativo %>
                Ativo
              <% else %>
                Inativo
              <% end %>
            </td>
            <% if can? :update, User %>
                <td class="center">
                    <%= link_to(edit_admin_usuario_path(user), :class => 'btn btn-primary btn-xs') do %>
                        <i class="fa fa-pencil fa-lg"></i>
                    <% end %>
                </td>
            <% end %>
            <% if can? :destroy, User %>
                <td class="center">
                    <%= link_to(admin_usuario_path(user), :class => 'btn btn-danger btn-xs btn-excluir-grid', :id => user.id) do %>
                        <i class="fa fa-trash-o fa-lg"></i>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>

    </tbody>

</table>

<span class="loader" style="left:50%;">
    <%= image_tag "admin/loading.gif", :width => "80px" %>
</span>
<div style="position:fixed;" class="maskLoader"></div>

<script type="text/javascript">
    $(function (){
        //datatable
        $('#data_table').dataTable( {
            "aaSorting": [[ 0, "asc" ]],
            "oLanguage": {
                "sUrl": "/datatable_pt.txt"
            },
            "aoColumnDefs": [
                { "bSortable": true, "aTargets": [ 0 ] },
                { "bSearchable": false, "aTargets": [ 2, 3 ] }
            ]
        } );
    });
</script>
